<div class="board small-6 column">
	<div class="dice-place">
		<div class="logo">
			<h1>Монополия!</h1>

			<h2>Онлайн версия</h2>
		</div>

	</div>
	<div id="0-0" class="column point small-1 p0-0"></div>
	<div id="0-1" class="column point small-1 p0-1"></div>
	<div id="0-2" class="column point small-1 p0-2"></div>
	<div id="0-3" class="column point small-1 p0-3"></div>
	<div id="0-4" class="column point small-1 p0-4"></div>
	<div id="0-5" class="column point small-1 p0-5"></div>
	<div id="0-6" class="column point small-1 p0-6"></div>
	<div id="0-7" class="column point small-1 p0-7"></div>
	<div id="0-8" class="column point small-1 p0-8"></div>
	<div id="0-9" class="column point small-1 p0-9"></div>
	<div id="1-0" class="column point small-1 p1-0"></div>
	<div id="1-9" class="column point small-1 p1-9"></div>
	<div id="2-0" class="column point small-1 p2-0"></div>
	<div id="2-9" class="column point small-1 p2-9"></div>
	<div id="3-0" class="column point small-1 p3-0"></div>
	<div id="3-9" class="column point small-1 p3-9"></div>
	<div id="4-0" class="column point small-1 p4-0"></div>
	<div id="4-9" class="column point small-1 p4-9"></div>
	<div id="5-0" class="column point small-1 p5-0"></div>
	<div id="5-9" class="column point small-1 p5-9"></div>
	<div id="6-0" class="column point small-1 p6-0"></div>
	<div id="6-9" class="column point small-1 p6-9"></div>
	<div id="7-0" class="column point small-1 p7-0"></div>
	<div id="7-9" class="column point small-1 p7-9"></div>
	<div id="8-0" class="column point small-1 p8-0"></div>
	<div id="8-9" class="column point small-1 p8-9"></div>
	<div id="9-0" class="column point small-1 p9-0"></div>
	<div id="9-1" class="column point small-1 p9-1"></div>
	<div id="9-2" class="column point small-1 p9-2"></div>
	<div id="9-3" class="column point small-1 p9-3"></div>
	<div id="9-4" class="column point small-1 p9-4"></div>
	<div id="9-5" class="column point small-1 p9-5"></div>
	<div id="9-6" class="column point small-1 p9-6"></div>
	<div id="9-7" class="column point small-1 p9-7"></div>
	<div id="9-8" class="column point small-1 p9-8"></div>
	<div id="9-9" class="column point small-1 p9-9"></div>
</div>